@import url(./fonts.css);
@import url(./animation.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  padding: 20px;
}
.accessible-form {
  display: flex;
  width: 750px;
  max-width: 100%;
  height: max-content;
  border: 4px solid #1c7ed6;
  border-radius: 10px;
  padding: 30px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  flex: 1;
  justify-content: space-between;
}

.update-form {
  width: 60%;
}

.info-form {
  width: 40%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container {
  display: flex;
  flex-direction: column;
}

.container label {
  font-size: 1.5rem;
}

input {
  height: 42px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 1.2rem;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 15px;
  &:focus-visible {
    outline: 2px solid #1c7ed6;
    border: none;
  }
}

.password-container {
  display: flex;
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 30px;
}

.show-password-icon {
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  right: 10px;
  bottom: 25px;
  cursor: pointer;
  color: #1c7ed6;
  &:hover {
    color: #1971c2;
    scale: 1.1;
  }
  &:active {
    color: #1864ab;
    scale: 1;
  }
}

.show-toggle {
  display: none;
}

.submit-button {
  height: 45px;
  border: 2px solid #1c7ed6;
  background-color: #1c7ed6;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    border: 2px solid #1971c2;
    background-color: #1971c2;
    scale: 1.01;
  }
  &:active {
    border: 2px solid #1864ab;
    background-color: #1864ab;
    scale: 1;
  }
}
.completeness-container h1 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  text-align: center;
}

.completeness-list {
  background-color: #d0ebff;
  border-radius: 10px;
  padding: 30px 10px;
  height: 100%;
}

.completeness-item {
  margin-bottom: 8px;
}

.completed {
  color: gray;
  text-decoration: line-through;
}
input:valid:not(:placeholder-shown) {
  border-color: #38d9a9;
}
input:invalid:not(:placeholder-shown) {
  border-color: #ff8787;
}

@media (max-width: 768px) {
  body {
    height: auto;
  }

  .accessible-form {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 30px;
  }

  fieldset {
    width: 100%;
  }

  .update-form {
    width: 100%;
  }

  .info-form {
    width: 100%;
  }

  .submit-button {
    width: 100%;
  }

  label {
    font-size: 1.2rem;
  }

  input {
    font-size: 1rem;
  }

  .show-password-icon {
    font-size: 1rem;
  }
}
/* SVG progressbar */
.progress-bg {
  stroke: #ddd;
  stroke-width: 5;
  fill: none;
}

.progress-bar {
  stroke: #1c7ed6;
  stroke-width: 5;
  fill: none;
  stroke-dasharray: 282.6;
  stroke-dashoffset: calc(282.6 - (282.6 * 65 / 100));
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-text {
  font-size: 20px;
  text-anchor: middle;
  fill: #1c7ed6;
}
